body{
    background-color: #eee7ce;
}

.card-body,.card{
    border-radius: 10px;
}
.twitter:hover{
    color: #000;
}

.youtube:hover{
    color: red;
}
.facebook:hover {
    color: blue;
}

.instagram:hover {
    color: rgb(172, 3, 31);
}
.whatsapp:hover {
    color: green;
}


.dropdown-menu :hover{
    background-color: #000;
}

.vertical-nav {
    height: 100%;
    border-radius: 15px;
}

.vertical-nav .nav-link {
    color: #333;
    color: white;
}

.vertical-nav .nav-link.active {
    font-weight: bold;
    color: #000;
}

.nav-item{
    color: white;
    padding: 10px;
}

.nav-item:hover{
    color: black;
    background-color: grey;
    border-bottom: white;

}
.nav-item:active{
    font-weight: bold;
    background-color: grey;
}

.review-table-container {
    max-height: 400px; /* Adjust this height as needed */
    overflow-y: auto;
    border: 1px solid #ddd; /* Optional border for better visibility */
  }
  
  .review-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .review-table th, .review-table td {
    padding: 8px;
    text-align: left;
  }
  
  .review-table th {
    background-color: #f8f9fa; /* Light background for the header */
  }
  

  .text-warning {
    color: gold; /* Golden color for stars */
  }
  
  .table-responsive {
    max-height: 400px; /* Maximum height for the table */
    overflow-y: auto; /* Enable vertical scrolling */
  }
  